.date-bar,
.address-bar__date-bar {
  align-items: center;
  background-color: $color-success;
  color: $white;
  display: flex;
  flex-wrap: wrap;
  font-size: 1em;
  font-weight: 600;
  list-style-type: none;
  min-height: 80px;
  padding: $space-s $space;

  li {
    flex: 0 0 100%;
  }

  &--ended {
    background-color: $color-error;
  }
}
