{#
/**
 * @file
 * Event address bar for displaying date and time information for events.
 *
 */
#}

{% set date_bar_base_class = 'date-bar' %}

{% if date(event_date_end) < date() %}
  {% set date_bar_modifiers = ['ended'] %}
{% endif %}

<div {{ bem(date_bar_base_class , (date_bar_modifiers), date_bar_blockname) }}>
  {% if date(event_date_end) < date() %}
    The event has ended
  {% else %}
    <span>{{ event_date_start|date("l, F d") }}</span> 

    <span>{{ event_date_start|date("g:iA") }}–{{ event_date_end|date("g:iA") }}</span>
  {% endif %}
</div>
