{#
/**
 * @file
 * Event address bar for displaying date and time information for events.
 *
 * Available variables:
 * - ended: (optional) Boolean. If true, display string saying event has ended.
 */
#}

{% set card_base_class = 'date-bar' %}

<ul {{ bem(card_base_class, (card_modifiers), card_blockname) }}>
  {% if card_modifiers == true %}
    <li>The event has ended</li>
  {% else %}
    <li>{{ event_date|date("l, F d") }}</li> 

    <li>{{ event_date_time_start|date("g:iA") }}–{{ event_date_time_end|date("g:iA") }}</li>
  {% endif %}
</ul>
