{#
/**
 * @file
 * Event address bar for displaying date and time information for events.
 *
 */
#}

{% set date_bar_base_class = 'date-bar' %}

{% if date(event_date_end) < date() %}
  {% set date_bar_modifiers = ['ended'] %}
{% endif %}

<ul {{ bem(date_bar_base_class , (date_bar_modifiers), date_bar_blockname) }}>
  {% if date(event_date_end) < date() %}
    <li>The event has ended</li>
  {% else %}
    <li>{{ event_date_start|date("l, F d") }}</li> 

    <li>{{ event_date_start|date("g:iA") }}–{{ event_date_end|date("g:iA") }}</li>
  {% endif %}
</ul>
