{#
/**
 * This is strictly an exmaple file to demonstrate markup in Pattern Lab.
 * It is not intended to be included in any other component.
 */
#}
<div class="tag">This text is styled as a tag</div>