$address-bar-border: 1px solid $gray-light;

@mixin address-bar-vertical-spacing {
  margin-bottom: $space;
}

.address-bar {
  box-shadow: 0 4px 4px rgba($black, 0.25);
  border-bottom: $address-bar-border;

  &__date-bar {
    margin: 0; // This is to remove browser styles of lists.
  }

  &__content {
    border-right: $address-bar-border;
    border-bottom: $address-bar-border;
    border-left: $address-bar-border;
    padding: $space-xs;
  }

  &__details {
    padding: $space-xs;
  }

  &__heading {
    @include address-bar-vertical-spacing;

    font-size: 20px;
    line-height: 1.25;
  }

  &__directions {
    @include link--more;
    @include address-bar-vertical-spacing;
  }

  &__location-hours {
    @include address-bar-vertical-spacing;
  }

  &__hours {
    border-spacing: 0;
  }

  &__hours-day {
    text-align: left;
    font-weight: normal;
  }

  &__accessibility-rating {
    @include address-bar-vertical-spacing;
  }

  &__accessibility {
    letter-spacing: 0.44px;
  }

  &__ctas {
    @include address-bar-vertical-spacing;
  }

  &__cta {
    display: block;

    & + & {
      margin-top: $space-xs;
    }

    &--secondary {
      @include button--outline;
    }

    &--primary {
      @include button--filled;
    }
  }

  &__content {
    > *:last-child {
      margin-bottom: 0;
    }
  }
}
