$address-bar-border: 1px solid $gray-light;

.address-bar {
  box-shadow: 0 4px 4px rgba($black, 0.25);
  border-bottom: $address-bar-border;

  &__date-bar {
    margin: 0; // This is to remove browser styles of lists.
  }

  &__content {
    border-right: $address-bar-border;
    border-bottom: $address-bar-border;
    border-left: $address-bar-border;
    padding: $space-xs;
  }

  &__details {
    padding: $space-xs;
  }

  &__heading {
    font-size: 20px;
    line-height: 1.25;
    margin: 0 0 $space-xs;
  }

  &__directions {
    @include link--more;

    margin: 0 0 $space;
  }

  &__accessibility {
    letter-spacing: 0.44px;
  }

  &__links {
    .address-bar__details + & {
      margin-top: $space-s;
    }
  }

  &__link {
    display: block;

    & + & {
      margin-top: $space-xs;
    }

    &--secondary {
      @include button--outline;
    }

    &--primary {
      @include button--filled;
    }
  }
}
