$about-x--break: $medium;

.about-x__content {
  display: flex;
  flex-flow: column nowrap;

  @include breakpoint($about-x--break) {
    flex-direction: row;
  }
}

.about-x__image {
  margin-bottom: $space-s;

  @include breakpoint($about-x--break) {
    margin-bottom: 0;
    margin-right: $space-l;
    flex: 0 1 164px;
  }
}

.about-x__text {
  flex: 1 1 50%;
}
