$about-x--break: $medium; // This is a random breakpoint. Design should verify it.

.about-x__content {
  display: flex;
  flex-flow: column nowrap;

  @include breakpoint($about-x--break) {
    flex-direction: row;
  }
}

.about-x__image {
  margin-bottom: 1rem;

  @include breakpoint($about-x--break) {
    margin-bottom: 0;
    margin-right: 2rem;
    flex: 0 0 164px;
  }
}
