@mixin button--filled(
  $bg: $nypl-blue-regular,
  $color: $white,
  $hoverBg: darken($bg, 0.25)
) {
  background-color: $bg;
  border: none;
  border-radius: 2px;
  color: $color;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 1.5px;
  line-height: 2.6;
  padding: 0 $space-xs;
  text-decoration: none;
  text-align: center;

  &:visited {
    color: $color;
  }

  &:hover {
    background-color: $hoverBg;
  }
}

@mixin button--outline {
  background-color: $white;
  border: 1px solid $gray-light;
  border-radius: 2px;
  color: inherit;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 1.5px;
  line-height: 2.6;
  padding: 0 $space-xs;
  text-decoration: none;
  text-align: center;

  &:visited {
    color: inherit;
  }

  &:hover {
    background-color: $gray-xxlight;
  }
}

.button {
  @include button--filled;
}

.button--outline {
  @include button--outline;
}
