//////////////////////////
// General Variables
// Note: colors should go into
// components/_patterns/00-base/global/colors/_color-vars.scss
// breakpoint related vars into
// components/_patterns/00-base/_breakpoints.scss
// and typography related vars into
// components/_patterns/00-base/_05-typgraphy.scss

// Spacing
$space: 1rem;

// Spacing variants
$space-xxs: $space/4;
$space-xs: $space/2;
$space-s: $space*1;
$space-m: $space*1.5;
$space-l: $space*2;
$space-xl: $space*4;
$space-xxl: $space*4.5;
