{% set ib_base_class = ib_base_class|default('date-tile') %}

<div {{ bem(ib_base_class, (ib_modifiers), ib_blockname) }} aria-hidden="true">
  <div class="date-tile__date">
    {% include "@atoms/02-text/text/04-caption.twig" with {
      "caption_content": datetile_date|date('M'),
    } %}
    {% include "@atoms/02-text/text/01-paragraph.twig" with {
      "paragraph_content": datetile_date|date('n'),
      "paragraph_base_class": 'h4'
    } %}
  </div>
</div>