.address-bar {
  &__location-hours {
    @include address-bar-vertical-spacing;
  }

  &__hours {
    border-spacing: 0;
  }

  &__hours-day {
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 1.5px;
  }

  &__hours-hours {
    letter-spacing: 0.44px;
  }
}
