.catalog-item {
  border-bottom: 1px solid $gray-light;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-bottom: $space-l;

  &__icon {
    align-items: center;
    background-color: $gray-xlight;
    display: flex;
    flex: 0 0 160px;
    justify-content: center;
    margin-right: $space;
  }

  &__content {
    flex: 1 1 auto;
    margin-right: $space;
  }
}
